<head>
  <meta charset="utf-8" />

  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />

  <meta
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    name="viewport"
  />

  <title>{{ page.title }} - {{ site.title }}</title>

  <meta property="og:title" content="{{ page.title }} - {{ site.title }}" />

  <meta property="og:locale" content="en_US" />

  <link
    rel="canonical"
    href="//"
  />

  <meta
    property="og:url"
    content="//"
  />

  <meta
    name="description"
    content="{{ page.description | default: site.description }}"
  />

  <link rel="icon" type="image/png" href="/assets/img/favicon.png" />

  <meta name="theme-color" content="#5540af" />

  <meta property="og:site_name" content="Andrew Kostka" />

  <meta property="og:image" content="//assets/img/social.jpg" />

  <link
    defer
    crossorigin="crossorigin"
    href="https://fonts.gstatic.com"
    rel="preconnect"
  />

  <link defer href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

  <link
    defer
    crossorigin="anonymous"
    href="{{ "/assets/styles/main.min.css" | relative_url }}"
    media="screen"
    rel="stylesheet"
  />

  
</head>

<!-- TODO: set up GA -->
<!-- Google tag (gtag.js)
<script defer async src="https://www.googletagmanager.com/gtag/js?id=G-7HZXVNHYY2"></script>
<script defer>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7HZXVNHYY2');
</script>
-->