---
layout: default
title: Home
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body
    :class="{ 'overflow-hidden max-h-screen': mobileMenu }"
    class="relative bg-gradient-to-b to-rose-from from-darkblue-to bg-center bg-auto"
    x-data="{ mobileMenu: false }"
  >
    <div id="main" class="relative">
      <div class="relative bg-cover bg-center bg-no-repeat">
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
